$winter-sky: #5694B5;
$storm-blue: #243E4C;
$midnight-blue: #14232B;
$butter: #FFF9BD;
$butter-light: #FFF9CF;
$sun-yellow: #FFD548;

$cranberry: #8C201E;
$cardinal: #B52927;
$racecar: #D6312E;

$white: #fff;

$body-text: $midnight-blue;
$body-background: $butter-light;

$navbar-text: $midnight-blue;
