<h4>Start your morning</h4>

<button class='btn btn-lg btn-primary' {{action 'startAffirming' model on='click'}}>Start Affirming</button>

<div>
{{#each model as |morningAffirmation|}}
  {{#if morningAffirmation.isActive}}
    {{sunrisr-quiz morningAffirmation=morningAffirmation
                   checkMatch='checkMatch'}}
  {{/if}}
{{/each}}
</div>

<!-- keep an eye on this canary to make sure the model is coming through -->
<br />
<div>
  this is the model:
{{model}}
</div>
