

<!-- This route should pre-load (or create) all of the morning-affirmations
for the current mornings, and have a big button that starts the affirmation process -->

<h4>you're in morning-affirmations</h4>

<button class='btn btn-lg btn-primary' {{action 'startAffirming' model on='click'}}>Start Affirming</button>

<div>
{{#each model as |morningAffirmation|}}
  {{#if morningAffirmation.isActive}}
    {{sunrisr-quiz affirmation=morningAffirmation.affirmation}}
  {{/if}}
{{/each}}
</div>

<!-- keep an eye on this canary to make sure the model is coming through -->
<br />
<div>
  this is the model:
{{model}}
</div>
