<h1>MorningAffirmation</h1>

<h3>What do you want to tell yourself every day?</h3>

<button class='btn btn-lg btn-primary'>
  {{#link-to 'affirmations'}}My Affirmations{{/link-to}}
</button>

<button class='btn btn-lg btn-primary'>
  {{#link-to 'mornings'}}My Mornings{{/link-to}}
</button>


{{outlet}}
