<h1>MorningAffirmation</h1>

<h3>What do you want to tell yourself every day?</h3>

<button class='btn btn-lg btn-primary'>
  {{#link-to 'affirmations'}}Affirmations{{/link-to}}
</button>

<button class='btn btn-lg btn-primary'>
  {{#link-to 'mornings'}}Mornings{{/link-to}}
</button>

<button class='btn btn-lg btn-primary'>
  {{#link-to 'morning-affirmations'}}Morning Affirmations{{/link-to}}
</button>

{{outlet}}
