<div class='row'>
  <div class='col-xs-9'>
    <span class="affirmation-text" align-items='center'>
      {{affirmation.prompt}} ... {{affirmation.response}}
    </span>
  </div>
  <div class='col-xs-3'>
    <button class='btn btn-sm btn-primary' {{action 'edit'}}>EDIT</button>
    <button class='btn btn-sm btn-danger' {{action 'delete'}}>DELETE</button>
  </div>
</div>
<hr>
