<h2>My Affirmations</h2>
<hr>

{{#unless hasAffirmations}}
<h3>Use the form below to create your first affirmation!</h3>
{{/unless}}

<ul>
  {{#each affirmations as |affirmation|}}
    {{#if affirmation.isEditing}}
      {{sunrisr-affirmation-form-edit affirmation=affirmation
                                      save='saveAffirmationEdits'
                                      cancel='cancelAffirmationEdits'}}
    {{else}}
      {{sunrisr-affirmation affirmation=affirmation
                            edit='editAffirmation'
                            delete='deleteAffirmation'}}
    {{/if}}
  {{/each}}
</ul>
<br />
<br />

{{sunrisr-affirmation-form-create  create='createAffirmation'}}
